<h1 mat-dialog-title>Experience</h1>
<div mat-dialog-content>
  <!-- {{msg}} -->
  <div class="row">
    <div class="col-md my-2">
      <label for="startDate" class="form-label">START DATE</label>
      <div>
        <input class="form-control" id="startDate" type="date" [(ngModel)]="jobExperience.startDate">
      </div>
    </div>
    <div class="col-md my-2">
      <label for="endDate" class="form-label">END DATE</label>
      <div>
        <input class="form-control" id="endDate" type="date" [(ngModel)]="jobExperience.endDate" [min]="jobExperience.startDate">
      </div>
    </div>
    <div class="col-md my-2">
      <label for="companyName" class="form-label">COMPANY NAME</label>
      <div>
        <input class="form-control" id="companyName" type="text" [(ngModel)]="jobExperience.companyName" >
      </div>
    </div>
    <div class="col-md my-2">
      <label for="role" class="form-label">ROLE</label>
      <div>
        <input class="form-control" id="role" type="text" [(ngModel)]="jobExperience.role">
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="submit()" cdkFocusInitial>Save</button>
  <button mat-button [mat-dialog-close]="false">No</button>
</div>
